@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,900");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

body {
  height: 100vh;
  margin: 0;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden; /* Evita que el contenido desborde */
}
  
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
  img {
    position: absolute;
    inset: 0;
    width: 100%;
    transform: translateY(20%) scale(1.6);
    z-index: -1;
    transition: transform .3s;
    animation: anim 5s alternate-reverse infinite 0s;
    filter: brightness(30%); 
}
  
@keyframes anim {
    0% {
      transform: translateX(0%) translateY(20%) scale(1.6);
    }
    100% {
      transform: translateX(10%) translateY(25%) scale(1.6);
    }
}
  

nav {
  width: 30px;
  height: 3px;
  background: #7e8499;
  border-radius: 2px;
  box-shadow:
    0 -10px 0 #565c73,
    0 10px 0 #565c73;
}

.foto{
    position: absolute;
    top: 10px; 
    left: 50px; 
    width: 16%;
    border-radius: 5%;
    z-index: 2; 

}
.foto img{
    width: 100%; 

}

.content {
  text-align: center;
  color: #ffffff;
  transform: translateY(10%);
}

h1 {
  font-size: 10em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -10px;
  opacity: 0.6;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 6px;
  opacity: 0.9;
}

p {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 100px;
  opacity: 0.7;
}



.btn-101,
.btn-101 *,
.btn-101 :after,
.btn-101 :before,
.btn-101:after,
.btn-101:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-101 {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #050505;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.btn-101:disabled {
  cursor: default;
}
.btn-101:-moz-focusring {
  outline: auto;
}
.btn-101 svg {
  vertical-align: middle;
}
.btn-101 [hidden] {
  display: none;
}
.btn-101 {
    --thickness: 0.3rem;
    --roundness: 1.2rem;
    --color: #eff6ff;
    --opacity: 0.6;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: none;
    background: hsla(0, 0%, 100%, 0.2);
    border: none;
    border-radius: var(--roundness);
    color: var(--color);
    cursor: pointer;
    display: inline-block; 
    font-family: Poppins, "sans-serif";
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem; 
    position: relative;
    margin: 0 auto; 
    text-decoration: none; 
}
.btn-101:hover {
  background: hsla(0, 0%, 100%, 0.3);
  filter: brightness(1.2);
}
.btn-101:active {
  --opacity: 0;
  background: hsla(0, 0%, 100%, 0.1);
}
.btn-101 svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-101 rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.btn-101:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}